.wrapper {
	border-left: 2px dotted #000;
	border-right: 2px dotted #000;
	width: 1200px;
	margin: 0 auto;
}

.logo {
	padding-left: 30px;
	display: block;
	text-decoration: none;
	width: 180px;
	}

.logo div {
	text-align: center;
	text-transform: uppercase;
	display: block;
	font-size: 20px;
	width: 100%;
	color: #000;

}

.logo:hover {
    opacity: 0.8;
}
.header-nav {
	margin-top: 40px;
    padding-left: 30px;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}


.header-nav a {
	color: #000;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.header-nav a:hover {
    background-color: #000;
    color: #fff;
}

h1 {
	font-size: 40px;
}

h1, h2, p {
    margin-bottom: 10px;
    margin-top: 10px;
}


.content {
    padding: 30px;
}


p {
    font-size: 22px;
}

img {
	width: 100%;
}
h2 {
    font-size: 30px;
}

.footer-nav {
	font-size: 12px;
    text-align: center;
}    


footer {
    background-color: #000;
    color: #fff;
    padding: 30px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    
}
.footer-nav a:hover {
    border-bottom: 1px dashed #fff;
} 

.eagleteamcolor {
	color: white
}

.otstup{
	padding: 0 10px;

}
   